@page
@model WebRestApi.WebApp.Pages.LoginModel

@{
    ViewData["Title"] = "Login";
}

<form method="post">
    <div asp-validation-summary="All"></div>
    <span asp-validation-for="Credentials.Email"></span>
    Email:
    <input asp-for="Credentials.Email" />

    <br>
    <div asp-validation-summary="All"></div>
    <span asp-validation-for="Credentials.Password"></span>
    Password:
    <input asp-for="Credentials.Password" type="password" />

    <div>
        <input type="submit" value="Login" />
    </div>

</form>